{% extends 'base.html' %}
{% load static %}

{% block title %}
my blogs
{% endblock %}

{% block csslink %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
{% endblock %}


{% block content %}

<h1>My Blog</h1>
{% if my_obj %}
    {% for i in my_obj %}
    <div class="card" style="width: 100%; text-align: center;">
        <div class="card-body">

            <h2 class="card-title">{{i.title}}</h5>
                <h4 class="card-subtitle mb-2 text-body-secondary">Author : {{i.userid.username}}</h6>
                    <i style="font-size: 14px;">Posted on : {{i.created_at}}</i>
                    <p class="card-text">{{i.content}}</p>
                    
                    <div style="display: flex; justify-content: center; gap: 10px;">
                        <form method="post" action="/like?idn={{i.id}}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-primary">
                                {% if loggeduserobj in i.likeddetails.all %}
                                <span id="icon"><i class="fas fa-thumbs-up"> {{i.likes}} </i></span>
                                {% else %}
                                <span id="icon"><i class="far fa-thumbs-up"> {{i.likes}} </i></span>
                                {% endif %}
                            </button>
                        </form>

                        <a href="/detailview?idn={{i.id}}" class="btn btn-warning">Comment</a>

                        <a href="{% url 'editmypost' i.id %}" class="btn btn-info">Edit</a>
                        <a href="{% url 'deletemypost' i.id %}" class="btn btn-danger">Delete</a>
                    </div>



        </div>
    </div>
    {% endfor %}
{% else %}
<h5><i>You don't have any post</i></h5>
{% endif %}


{% endblock %}