{% extends 'base.html' %}
{% load static %}

{% block title %}
    my profile
{% endblock %}

{% block content %}
<h2>User Details</h2>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Age</th>
            <th scope="col">Place</th>
            <th scope="col">Email</th>
            <th scope="col">Password</th> 
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{userid.username}}</td>
            <td>{{userid.userage}}</td>
            <td>{{userid.userplace}}</td>
            <td>{{userid.useremail}}</td>
            <td>{{userid.userpassword}}</td>
        </tr>
    </tbody>
</table>

<a href=" {% url 'home' %} "><button>Go Back</button></a>


{% endblock %}